.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: #e0e0e0;
    padding: 40px;
    text-align: center;
    border: 1px solid #ccc;
}