html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.5rem 2rem;
    background: lightgray;
    border-bottom: 1px solid var(--pico-muted-border-color);
}

nav a {
    border-radius: 8px;
    padding: .4rem .8rem;
    transition: .2s;
}

nav a:hover {
    background: var(--pico-primary);
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

article {
    flex: 1;
}

.contenedor2 {
    display: flex;
    gap: 20px;
}


article img {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.sombra-img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
    border-top: 1px solid var(--pico-muted-border-color);
    color: var(--pico-muted-color);
}